
main{
    grid-area: main;
}
.h3productos{
    border-bottom: 2px solid black;
    text-align: center;
    align-items: center;
}
.card{
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
    
}
.card:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}
.card img{
    width: 100%;
    height: 210px;
}
.card a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contPadre{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contPadre2{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.h3index{
    text-align: center;
}
.pindex{
    text-align: center;
}
iframe{
    width: 560px; 
    height: 315px;
}
