nav{
    grid-area: nav;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.actual{
    color: #46a2fd;
}
nav a{
    color: black;
    text-decoration: none;
}
nav ul li{
    list-style: none;
}
nav a:hover{
    color: #46a2fd;
    text-decoration: underline;
}
.actual{
    color: #46a2fd;
}