
nav{
    grid-area: nav;
}
.actual{
    color: $colorenlace;
}
nav a{
    text-decoration: underline;
    color: rgb(0, 0, 0);
    font-weight: 700;
}
nav ul li{
    list-style: none;
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: $fontfamili;
}
nav ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
nav a:hover{
    color: $colorenlace;
    text-decoration: underline;
}
.actual{
    color: $colorenlace;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}
