$colorenlace: #46a2fd;
nav{
    grid-area: nav;
}
.actual{
    color: $colorenlace;
}
nav a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 700;
}
nav ul li{
    list-style: none;
    padding-left: 20px;
}
nav ul{
    display: flex;
}
nav a:hover{
    color: $colorenlace;
    text-decoration: underline;
}
.actual{
    color: $colorenlace;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}